<settings>
    <servers>
        <server>
            <id>central</id>
            <username>${env.MVN_CENTRAL_TOKEN_USER}</username>
            <password>${env.MVN_CENTRAL_TOKEN_PASS}</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <gpg.keyname>${env.GPG_KEY}</gpg.keyname>
                <gpg.passphrase>${env.GPG_PWD}</gpg.passphrase>
            </properties>
        </profile>
    </profiles>
</settings>